.b--black-10 {
    border-color: rgba(0, 0, 0, .1);
}

.db {
    display: table;
    margin: 0 auto;
}

.lh-copy {
    line-height: 1.5;
}

.list {
    list-style-type: none;
}

.pa3 {
    padding: 1rem;
}

.pl0 {
    padding-left: 0;
}

.mb1 {
    margin-bottom: .25rem;
}

.f3 {
    font-size: 1.5rem;
    text-align: center;
}

.f5 {
    font-size: 1rem;
    text-align: center;
}

.measure {
    max-width: 30em;
}

@media screen and (min-width: 30em) {
    .pa4-ns {
        padding: 2rem;
    }
}

.center {
  text-align: center;
}
